:root{
  --bodyColor: #161616;
  --testColor: #d4d3d8;
  --hover: #a1a1a9;
  --hero: #c7c7c7;
  --buttonBorder: #4d4a4add;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bodyColor);
  color: var(--testColor);
}
.left-side{
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-side h2{
  font-weight: 400;
}
.left-side img{
  width: 25px;
}
nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  padding: 0.2rem;
}
nav .right-side{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 3rem;
}
.right-side li{
  font-weight: bold;
  color: var(--hover);
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
}
.right-side li i{
  padding: 0.3rem;
}
.right-side li:hover{
  color: var(--testColor);
  cursor: pointer;
}
.right-side li img{
  width: 2rem;
  color: var(--hover);
}
.right-side button{
  width: 10rem;
  height: 2.5rem;
  background-color: var(--bodyColor);
  outline: none;
  border: 0.5px solid var(--buttonBorder);
  color: var(--testColor);
  border-radius: 10px;
  font-weight: bold;
  /* border: none; */
}
.right-side button:hover{
  border-color: var(--testColor);
  cursor: pointer;
}
