:root{
  --bodyColor: #161616;
  --testColor: #d4d3d8;
  --hover: #a1a1a9;
  --hero: #c7c7c7;
  --buttonBorder: #4d4a4add;
  --heroText: #85cc16;
  --navBg: #16161677;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bodyColor);
  color: var(--testColor);
}
.left-side{
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-side h2{
  font-weight: 400;
}
.left-side img{
  width: 25px;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12rem;
  padding: 1rem 0;
  /* position: fixed; */
  height: 5rem;
}
nav .right-side{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 3rem;
}
header{
  position: fixed;
  top: 0;
  z-index: 111;
  margin: 0 auto;
  /* background-color: #9ae81d; */
  width: 100%;
  background-color: var(--navBg);
  /* filter: blur(10px); */
  backdrop-filter: blur(10px);
}
.right-side li{
  font-weight: bold;
  color: var(--hover);
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
}
.right-side li i{
  padding: 0.3rem;
}
.right-side li:hover{
  color: var(--testColor);
  cursor: pointer;
}
.right-side li img{
  width: 2rem;
  color: var(--hover);
}
.right-side button{
  width: 10rem;
  height: 2.5rem;
  background-color: var(--bodyColor);
  outline: none;
  border: 0.5px solid var(--buttonBorder);
  color: var(--testColor);
  border-radius: 10px;
  font-weight: bold;
  /* border: none; */
}
.right-side button:hover{
  border-color: var(--testColor);
  cursor: pointer;
}
main .hero{
  width: 54rem;
  margin: 0 auto;
   /* background-color: #85cc16; */
   margin-top: 6rem;
}
main{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.scrolled{
  background-color: #85cc16;
  color: #161616;
}
.ai-design h1{
  font-size: 6rem;
  font-weight: 300;
}
.ai-design h1 span:nth-child(n+6):nth-child(-n+7) {
  color: var(--heroText);
}
.tagline h2{
  font-weight: 300;
  margin: 2rem 0;
  word-spacing: 5px;
  font-size: 1.5rem;
}
.booking-btn button{
  border-radius: 11px;
  outline: none;
  border: none;
  margin: 0.3rem;
  color: black;
  font-weight: bold;
}
.booking-btn button:nth-child(1){
  width: 13rem;
  padding: 1rem;
  font-size: 15px;
  background-color: var(--heroText);
}
.booking-btn button:nth-child(1):hover{
  background-color: #9ae81d;
  cursor: pointer;
}
.booking-btn button:nth-child(2){
  width: 10rem;
  padding: 1rem;
  font-size: 15px;
  background-color: var(--bodyColor);
  border: 1px solid var(--buttonBorder);
  color: var(--testColor);
}

.booking-btn button:nth-child(2):hover{
  border: 1px solid var(--hover);
  cursor: pointer;
}
.head p{
  display: inline-block;
  margin: 0 10px;  
}
.head span{
  text-decoration: underline;
  text-decoration-color: var(--bodyColor);
  overflow-x: hidden;
}
.secAnim{
  text-align: center;
}
.marque-heading{
  display: flex;
  justify-content: center;
  margin-top: 45rem;
}
.scrollx{
  width: 70rem;
  overflow-x: hidden;
  background-color: #151515;
  padding: 2rem;

}
.marque-heading .inner-cont h2{
  color: #515257;
  font-weight: 400;
  margin-bottom: 3rem;
  text-align: center;
  font-size: 28px;
}
.scroll-card{
  width: 10rem;
  height: 10rem;
  background-color: #141414;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1px rgb(76, 75, 75);
  border-radius: 10px;
  flex-shrink: 0;
 
}
.inner-scroll{
  display: flex;
  gap: 1.9rem;
   white-space: nowrap;
   
}
.relative{
   position: relative;
   margin: 22rem 0;
}
.heroImg{
  width: 100%;
  /* background-color: #85cc16; */
  display: flex;
  justify-content: center;
  align-items: center;
 

  
}
.heroImg img{
  width: 100%;
  position: absolute;
}



